<div class="reset-password-container">
  <mat-card class="reset-password-card" appearance="outlined">
    <mat-card-header class="mx-auto">
      <mat-card-title>Reset password</mat-card-title>
    </mat-card-header>

    <mat-card-content class="reset-password-content">
      <form (ngSubmit)="reset()" [formGroup]="resetForm">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            type="email"
            placeholder="pat@example.com"
            formControlName="email"
            (blur)="updateErrorMessage()"
            required
          />
          @if (resetForm.controls['email'].invalid) {
          <mat-error>{{ errorMessage() }}</mat-error>
          }
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="mx-auto">
      <button mat-flat-button (click)="reset()">Reset password</button>
    </mat-card-actions>
  </mat-card>
</div>
