<div class="dashboard d-flex">
  <mat-card class="app-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Transaction</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button href="https://yayago.ca">Learn More</a>
    </mat-card-actions>
  </mat-card>

  @for (app of appList; track app.name) {
  <mat-card class="app-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ app.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button [routerLink]="app.routerLink">Learn More</a>
    </mat-card-actions>
  </mat-card>
  }
</div>
