<div class="dashboard d-flex">
  <mat-card class="app-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Transaction</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button href="https://yayago.ca">Learn More</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="app-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Todo List</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button [routerLink]="['/todo']">Learn More</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="app-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Project Management</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button [routerLink]="['/project-management']">Learn More</a>
    </mat-card-actions>
  </mat-card>
</div>
