/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-spacer {
  flex: 1 1 auto;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-line-through {
  text-decoration: line-through;
}

.success {
  color: #00dddd;
}

.info {
  color: #005cdd;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.p-2 {
  padding: 1rem;
}

.p-4 {
  padding: 3rem;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100% !important;
}
